*{
    margin: 0px;
}
body{
    max-width: 1440px;
    font-family: 'Inter', sans-serif;
    margin: auto;
    background-color: #F8F9FB;

    .img-auto{
        width: 100%;
    }
    .header__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 111px 16px;
        border-bottom: 1px solid #EAEBF0;

        @media screen and (max-width: 1024px){
            padding: 20px 60px 24px;
        }

        @media screen and (max-width: 768px){
            padding: 20.8px 14px
        }
        .mobile-more{
            margin-right: 7px;
            display: none;
            @media screen and (max-width: 1024px){
                display: block;
            }
        }
        &__logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 69px;
            margin-left: 0.4rem;

            @media screen and (max-width: 768px){
                margin-top: 0rem;
                max-width: 120px;
                margin-left: 0rem;
            }

            img{
                width: 100%;
                @media screen and (max-width: 768px){
                    margin-left: 0.4rem;
                }
            }
        &__mobile{
            position: absolute;
            background-color: #F8F9FB;
            right: 0px;
            top: 72px;
            border-left: 1px solid #EAEBF0;
            border-bottom: 1px solid #EAEBF0;
            border-right: 1px solid #EAEBF0;

            ul{
                list-style: none;
                padding-left: 0px;
                padding: 15px 20px;
                width: 150px;
                li{
                    padding: 10px 0px;
                    font-size:15px;
                    font-weight: 600;

                    img{
                        padding-left: 20px;
                    }
                }
            }
            @media screen and (max-width:768px){
                top: 65px;
            }
        }
        
        }
        &__list{
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 32px;
            li{
                font-size: 15px;
                color: #272D37;
                font-weight: 600;
            }
            li:nth-child(3){
                width: 109px;
                margin-left: 2px;

                img{
                    padding-left: 16px;
                }
            }
            @media screen and (max-width:1024px){
                display: none;
            }
        }
        &__login{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0px;
            gap: 24px;

            @media screen and (max-width: 1024px){
                display: none;
            }
            p{
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                color: #437EF7;
            }
            button{
                padding: 12px 20px;
                height: 46px;
                background: #437EF7;
                border-radius: 6px;
                border:none;
                color: white;
                font-size: 15px;
            }
        }

    }
    .main__container{
        &__first{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 75px 30px 60px;
            max-width: 1280px;
            margin: auto;

            @media screen and (max-width: 1024px){
                padding: 45px 60px;
            }
            @media screen and (max-width: 768px){
                padding: 45px 30px 65px;
            }
            h5{
                color: #437EF7;
                font-size: 14px;
                margin-top:2px;
            }
            h1{
                font-weight: 700;
                font-size: 52px;
                line-height: 60px;
                text-align: center;
                letter-spacing: -0.01em;
                max-width: 580px;
                color: #272D37;
                margin-top: -4px;
                @media screen and (max-width: 1024px){
                    margin-top: 1rem;
                }
                @media screen and (max-width: 425px){
                    font-size: 35px;
                    line-height: 44px;
                    letter-spacing: -0.02em;
                }
                span{
                    margin-left: -10px;
                }
            }
        }
        &__second{
            padding: 64px 112px;
            max-width: 1440px;
            background: #FFFFFF;

            @media screen and (max-width: 1024px){
                padding: 48px 60px;
            }
            @media screen and (max-width: 768px){
                padding: 48px 32px;
            }
            @media screen and (max-width: 425px){
                padding: 48px 16px;
            }
            &__cards{
                display: flex;
                gap: 40px;
                
                &__one{
                    max-width: 588px;
                    h3{
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 30px;
                        letter-spacing: -0.01em;
                        color: #272D37;
                        margin: 19px 0px 17px;
                        max-width: 588px;
                    }
                    p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.1px;
                        color: #5F6D7E;
                        @media screen and (max-width:1200px){
                            margin-bottom: 18px;
                         }
                    }
                    span{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: -0.1px;
                        color: #5F6D7E;
                    }
                    @media screen and (max-width:1200px){
                       max-width: 1200px;
                    }
                }
                &__two{
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    max-width: 588px;
                    &__card{
                        display: flex;
                        gap: 24px;
                        @media screen and (max-width: 425px){
                            flex-direction: column;
                        }
                        img{
                            width: 188px;
                            height: 118px;
                            @media screen and (max-width: 425px){
                                width: 100%;
                                height: 100%;
                            }
                        }
                        h3{
                            font-weight: 600;
                            font-size: 22px;
                            letter-spacing: -0.01em;
                            color: #272D37;
                            margin: 0px;
                            @media screen and (max-width: 425px){
                                font-size: 20px;
                                line-height: 28px;
                                letter-spacing: -0.02em;
                            }
                        }
                        p{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: -0.1px;
                            color: #5F6D7E;
                            margin-top: 8px;
                            margin-bottom: 14px;
                        }
                        span{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: -0.1px;
                            color: #5F6D7E;
                        }
                    }
                }
                @media screen and (max-width:1200px){
                    flex-direction: column;
                }
            }
        }
        &__third{
            padding: 64px 112px;
            display: flex;
            gap: 50px;
            background-color: #2B63D9;

            &__info{
                max-width: 656px;
                h1{
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 42px;
                    letter-spacing: -0.01em;
                    color: #FFFFFF;
                    margin-top:-1px;
                    margin-bottom: 24px;
                    @media screen and (max-width: 425px){
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 36px;
                        letter-spacing: -0.02em;

                    }
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    color: #B1CCFB;
                    margin-bottom: 0px;

                }
            }
            &__submit{
                display: flex;
                flex-direction: column;
                padding: 40px 0px;
                margin-left: 70px;

                @media screen and (max-width:920px){
                    margin-left: 0px;
                    padding: 0px 0px;
                    max-width: 476px;
                }

                &>div{
                    display: flex;
                    input{
                        background: white;
                        width: 333px;
                        height: 43px;
                        padding-left: 16px;
                        font-size: 0.9rem;
                        border: solid 1px #c4dae7;
                        border-radius: 4px 0px 0 4px;
                        color: #919BA7;

                        @media screen and (max-width:920px){
                            width: 80%;
                        }
                    }
                    button{
                        padding: 12px 18px;
                        max-width: 88px;
                        height: 46px;
                        font-weight: 600;
                        font-size: 15px;
                        color: #FFFFFF;
                        background: #437EF7;
                        border-radius: 0px 6px 6px 0px;
                        border: none;
                    }
                }
                span{
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: -0.1px;
                    color: #B1CCFB;
                    padding-top: 8px;
                }
            }
            @media screen and (max-width: 1024px){
                padding: 64px 60px;
                gap: 10px;
            }

            @media screen and (max-width: 920px){
                flex-direction: column;
            }
            @media screen and (max-width: 425px){
                padding: 48px 16px;
            }
        }
        &__fourth{
            padding: 64px 112px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 64px;

            @media screen and (max-width: 1024px) and (min-width:768px){
                padding: 48px 60px;
                gap: 30px;
            }
            @media screen and (max-width: 767px){
                padding: 48px 32px;
                gap: 30px;
            }
            @media screen and (max-width: 425px){
                padding: 48px 16px;
            }
            h1{
                margin: auto;
                font-weight: 700;
                font-size: 32px;
                text-align: center;
                letter-spacing: -0.02em;
                color: #272D37;
            }
            &__cards{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
                gap: 48px 32px;

                img{
                    margin-bottom: 12px;
                    @media screen and (max-width:1440px){
                        &.image-container{
                            width: 100%;
                        }
                    }
                }
                span{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -0.1px;
                    color: #5F6D7E;
                }
                h3{
                    font-weight: 600;
                    font-size: 22px;
                    letter-spacing: -0.01em;
                    color: #272D37;
                    margin-top: 9px;
                    line-height: 29px;
                    margin-bottom: 17px;
                }
                a{
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 15px;
                    color: #437EF7;
                    display: flex;

                    img{
                        margin: 0px 0px 5px 8px;
                    }
                }
                @media screen and (max-width:1440px){
                    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
                    gap: 48px 32px;
                }

                @media screen and (max-width: 1024px) and (min-width:768px){
                    grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
                    gap: 60px 20px;
                }
                @media screen and (max-width: 767px){
                    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
                    gap: 60px 20px;
                }
            }
        }

        &__fifth{
            padding: 64px 420px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;
            background-color: #2B63D9;
            h5{
                color: #fff;
                font-size: 14px;
                margin:3px 0px;
            }
            h1{
                font-weight: 600;
                font-size: 32px;
                line-height: 42px;
                text-align: center;
                letter-spacing: -0.01em;
                color: #FFFFFF;
                margin: 0px;
                @media screen and (max-width:1200px) and (min-width: 1025px){
                    max-width: 1200px;
                 }
                 @media screen and (max-width: 1024px){
                    max-width: 600px;
                 }
                 @media screen and (max-width: 425px){
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 36px;
                    letter-spacing: -0.02em;
                }
            }
            button{
                padding: 12px 18px;
                margin-top: 1.5rem;
                width: 91px;
                height: 46px;
                background: #FFFFFF;
                border-radius: 6px;
                font-weight: 600;
                font-size: 15px;
                color: #437EF7;
                border: none;
            }
            @media screen and (max-width:1200px) and (min-width: 1025px){
               padding: 64px 300px;
            }
            @media screen and (max-width: 1024px){
                padding: 64px 60px;
                gap: 30px;
            }
            @media screen and (max-width: 425px){
                padding: 48px 16px;
            }
        }
    }
    .footer__container{
        padding: 66px 112px;
        display: flex;
        flex-direction: column;
        background: #151B28;

        @media screen and (max-width: 1024px){
            padding: 64px 60px;
        }
        @media screen and (max-width: 865px){
            padding: 64px 32px;
        }
        @media screen and (max-width: 425px){
            padding: 48px 16px;
        }

        &__logo{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0px;
            margin-bottom: 4rem;
            height: 244px;

            @media screen and (max-width: 768px){
                flex-wrap: wrap;
                height: auto;
            }
            &__info{
                margin-top: 6px;
                @media screen and (max-width: 768px){
                    width: 100%;
                    margin-bottom: 4rem;
                    margin-top: 0.3rem;
                }
                &__submit{
                    display: flex;
                    input{
                        padding: 12px 16px;
                        width: 187px;
                        height: 22px;
                        background: #2C3444;
                        border: 1px solid #2E3545;
                        border-radius: 6px 0px 0px 6px;
                        @media screen and (max-width: 768px){
                            width: 80%;
                        }
                    }
                    button{
                        padding: 12px 18px;
                        width: 88px;
                        height: 46px;
                        background: #437EF7;
                        border-radius: 0px 6px 6px 0px;
                        font-weight: 600;
                        font-size: 15px;
                        border: none;
                        color: #FFFFFF;
                    }
                }
                img{
                    margin-left: 5px;
                }
                p{
                    max-width: 309px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    color: #A5ACBA;
                    margin: 17px;

                    @media screen and (max-width: 1024px){
                        margin-left: 0;
                    }
                }
            }
            &__list{
                strong{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.1px;
                    color: #F9F9F9;
                }
                ul{
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 11px;
                    padding-left: 0px;
                    li{
                        margin-bottom: 5px;
                        display: flex;
                        flex-direction: column;
                        gap: 11px;
                        color: #A5ACBA;
                    }
                }
            }
        }
        &__end{
            border-top: 1px solid #2E3545;
            display: flex;
            justify-content: center;
            p{
                margin-top: 1.8rem;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: -0.1px;
                color: #A5ACBA;
            }
        }
    }
}
